body {
    font-size: 13px;
    line-height: 1.6;
    font-family: "Open Sans", Arial, sans-serif;
}

p {
    margin: 0 0 10px;
}

.header {
    background-color: rgba(0, 0, 0, .5);
    float: left;
}

.navbar-header {
    display: block;
}

.navbar .navbar-brand {
    height: 93px;
    max-height: 93px;
    line-height: 93px;
    vertical-align: middle;
    padding: 0px 15px;
}

.navbar .navbar-brand a {
    line-height: inherit;
    vertical-align: middle;
}

.navbar-nav {
    display: block;
    float: right;
    height: 94px;
    max-height: 94px;
}

.navbar-icons {
    display: block;
    float: right;
    padding-left: 20px;
}

.navbar-icons a {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    line-height: 93px;
    color: #fff;
}

.navbar .container-fluid {
    padding: 0px 40px;
}

.navbar-nav > li {
    line-height: 94px;
}

.navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 93px;
    padding: 0 20px;
    vertical-align: middle;
}

.navbar-icons .row {
    margin: 0px 15px;
}

.squeezed {
    background-color: #2a2b2b;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.squeezed .navbar-brand,
.squeezed .navbar-icons a {
    height: 70px;
    max-height: 70px;
    line-height: 70px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.squeezed .navbar-nav {
    height: 70px;
    max-height: 70px;
    line-height: 39px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.squeezed .navbar-nav > li > a {
    height: 70px;
    max-height: 70px;
    line-height: 70px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-brand img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}

#video-title-text {
    text-align: center;
    color: #ffffff;
}

#video-title-text > p {
    font-size: 18px;
    font-weight: 400;
    padding: 3px 0px;
}

#video-title-text > h2 {
    font-size: 60px;
    line-height: 63px;
    font-weight: 600;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 7px 0px;
}

.btn-light {
    border: solid white 1px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background-color: transparent;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
    margin-right: 10px;
}

.btn-light:hover {
    color: #000;
    background-color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.btn-dark {
    border: solid black 1px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background-color: transparent;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
    margin-right: 10px;
}

.btn-dark:hover {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.btn-green {
    border: none;
    color: #fff;
    background-color: #72c02c;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
    margin-right: 10px;
}

.btn-green:hover {
    color: #fff;
    background-color: #5fb611;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.img-md {
    height: 100px;
    width: 100px;
}

.content {
    padding: 0 0;
}

.thumbnail {
    display: block;
    padding: 0px;
    border: none;
    background-color: #000;
    line-height: 1.42857143;
    position: relative;
}

.thumbnail:hover {
    border: none;
}

a.fancybox {
    overflow: hidden;
}

.fancybox img {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;

}

.fancybox img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .5;
}

.thumbnail-container {
    display: block;
}

.zoom-icon {
    visibility: hidden;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 1;
    color: #fff;
    background: #72c02c;
    text-align: center;
    line-height: 53px;
    width: 50px;
    height: 50px;
    font-size: 22px;
    border-radius: 50%;
}

a.fancybox:hover .zoom-icon {
    visibility: visible;
}

.tags-line a {
    color: #999;
}

.tags-line i {
    margin-right: 5px;
}

.latest-carousel .item {
    margin: 3px;
}

.latest-carousel .item img {
    display: block;
    width: 100%;
    height: auto;
}

.owl-controls {
    text-align: center;
}

.owl-controls .owl-page {
    display: inline-block;
}

.owl-controls .owl-page span {
    background-color: #bbb;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    display: block;
    height: 12px;
    margin: 5px 3px;
    width: 12px;
}

.owl-page.active span,
.owl-page:hover span {
    background-color: #72c02c;
}

.dark-parallax {
    color: #fff;
}

.dark-parallax .img-circle {
    height: 135px;
    width: 135px;
    margin: 0 auto;
}

.dark-parallax {
    padding-bottom: 60px;

}

.say-container {
    background-color: rgba(255, 255, 255, .25);
    padding: 40px 0px;
    margin: 5px;
}

.lightest {
    background-color: #fff !important;
}

.lighter {
    background-color: #eee !important;
}

.span-round {
    display: block;
    color: #999;
    background-color: #eee;
    width: 50px;
    height: 50px;
    font-size: 22px;
    text-align: center;
    padding-top: 14px;
    line-height: 50px;
    border-radius: 50%;
}

.media:hover .span-round {
    color: #fff;
    background-color: #72c02c;
}

.footer {
    background-color: #2a2b2b;
    padding: 40px 0px;
    color: #fff;
}

.map-bg {
    background: url("/static/hw3/img/map-img.png");
}

.copyright {
    padding: 20px 0;
    background-color: #222;
    color: #fff;
}

.social {
    padding: 0px 7px;
    color: #777;
    font-size: 16px;
    position: relative;
}

.social:hover {
    color: #777;
}

.content > .container > .row {
    padding: 10px 0px 50px;
}

.fa-shopping-cart .badge {
    position: relative;
    z-index: 1;
    top: -10px;
    left: -10px;
    background-color: #72c02c;
}

.nav a {
    background-color: transparent !important;
}

.squeezed .collapse .navbar-nav > li:hover > a {
    color: #72c02c;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.collapse .dropdown-menu {
    border-top: solid #72c02c;
}

.collapse .navbar-nav li.open > .dropdown-menu {

}

.squeezed .collapse .navbar-nav li.active > a {
    color: #72c02c;
}

.dropdown-menu {
    font-size: 13px;
    min-width: 260px;
    padding-top: 10px;
}

.dropdown-menu li:hover > a, .dropdown-menu li.active > a, .dropdown-menu li.active:hover > a {
    color: #72c02c;
}

.dropdown-submenu > a:after {
    font-size: 11px;
    content: "\f105";
    font-weight: normal;
    display: inline-block;
    float: right;
    font-family: FontAwesome;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
}

.dropdown-menu > li > a, .dropdown-menu > li > a:hover,
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover {
    background: #fff;
}

.marked-menu > li > a:before {
    content: "- ";
}

.dropdown-menu.multi-column {
    position: absolute;
}

.multi-column-dropdown {
    list-style: none;
    padding: 20px;
}

.multi-column-dropdown li a {
    display: block;
    line-height: 1.428571429;
    color: inherit;
}

.multi-column-dropdown li a:hover {
    color: #72c02c;
    background-color: #f5f5f5;
}

.multi-column .col-sm-3:not(:first-child) {
    border-left: 1px solid;
}

.multi-column-dropdown a i {
    padding-right: 7px;
}

.dropdown-menu li {
    padding: 5px 0;
}

.multi-column .row {
    display: table;
}

.multi-column .col-sm-3 {
    float: none;
    display: table-cell;
}

.recent-works {
    padding-top: 40px;
}

.light-parallax {
    padding: 20px;
}

.green-tick {
    list-style: none;
}

.green-tick > li:before {
    content: "\f00c";
    font-weight: normal;
    display: inline-block;
    float: left;
    color: #72c02c;
    font-family: FontAwesome;
    padding-right: 10px;
}

.green-line-left:before {
    z-index: 1;
    width: 30px;
    height: 2px;
    content: " ";
    top: 40px;
    left: 5px;
    position: absolute;
    background: #72c02c;
}

.green-line-center:before {
    z-index: 1;
    width: 30px;
    height: 2px;
    content: " ";
    top: 40px;
    left: 49%;
    position: absolute;
    background: #72c02c;
}

.green-line-left,
.green-line-center {
    padding-bottom: 20px;
}

.col-header {
    position: relative;
}

.latest-posts {
    padding-right: 20px;
}

.footer ul {
    list-style: none;
    padding-left: 0px;
}

.latest-posts ul small {
    display: block;
    color: #999;
    font-size: 85%;
}

.footer li {
    display: block;
    padding: 10px 0;
}

.footer li:not(:first-child) {
    border-top: solid 1px #555;
}

.footer li a, .footer li a:hover {
    color: #eee;
}

.headline {
    display: block;
    border-bottom: dotted 1px #fff;
    z-index: 1;
    margin-bottom: 10px;
}

.headline h4 {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: solid 2px #72c02c;
    margin: -1px;
    z-index: 2;
}

.useful-links {
    font-size: 11px;
}

.useful-links i {
    display: inline-block;
    float: right;
}

.footer address {
    padding-top: 5px;
}

.footer address a {
    color: #72c02c;
}

.social .tooltiptext {
    visibility: hidden;
    display: inline-block;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 2;
    bottom: 100%;
    left: -10px;
    margin-left: 0px;
    margin-bottom: 7px;
    font-size: 10px;
}

.social .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 22px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.social:hover .tooltiptext {
    visibility: visible;
}

.cart {
    display: inline-block;
    position: relative;
}

.cart-content {
    visibility: hidden;
    display: inline-block;
    position: absolute;
    background-color: #fff;
    top: 100%;
    width: 250px;
    right: 0px;
    border-top: solid 3px #72c02c;
    padding: 10px;
}

.cart:hover .cart-content {
    visibility: visible;
}

.cart-products, .cart-footer {
    display: block;
    padding: 10px;
}

.cart-products {
    border-bottom: solid 1px;
    text-transform: uppercase;
}

.cart-footer button i {
    padding-right: 5px;
}

.cart-footer span {
    display: inline-block;
    float: right;
    padding-top: 7px;
}

@media screen and (min-width: 981px) {
    .navbar-nav > li:hover > .dropdown-menu {
        display: block;
    }
}