body {
    font-size: 13px;
    line-height: 1.6;
    font-family: "Open Sans", Arial, sans-serif
}

p {
    margin: 0 0 10px
}

#video-title-text {
    text-align: center;
    color: #fff
}

#video-title-text > p {
    font-size: 18px;
    font-weight: 400;
    padding: 3px 0;
    width: 100%
}

#video-title-text > h2 {
    font-size: 60px;
    line-height: 63px;
    font-weight: 600;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #fff;
    display: inline-block;
    padding: 7px 0
}

.btn-light {
    border: solid #fff 1px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background-color: transparent;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
    margin-right: 10px
}

.btn-light:hover {
    color: #000;
    background-color: #fff;
    text-decoration: none;
    transition: all .3s ease-in-out
}

.btn-dark {
    border: solid #000 1px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background-color: transparent;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
    margin-right: 10px
}

.btn-dark:hover {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    transition: all .3s ease-in-out
}

.btn-green {
    border: none;
    color: #fff;
    background-color: #72c02c;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
    margin-right: 10px
}

.btn-green:hover {
    color: #fff;
    background-color: #5fb611;
    text-decoration: none;
    transition: all .3s ease-in-out
}

.img-md {
    height: 100px;
    width: 100px
}

.content {
    padding: 0
}

.thumbnail {
    display: block;
    padding: 0;
    border: none;
    background-color: #000;
    line-height: 1.42857143;
    position: relative
}

.thumbnail:hover {
    border: none
}

.thumbnail-container {
    display: block
}

a.fancybox {
    overflow: hidden
}

.fancybox img {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease
}

.fancybox img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .5
}

.zoom-icon {
    visibility: hidden;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 1;
    color: #fff;
    background: #72c02c;
    text-align: center;
    line-height: 53px;
    width: 50px;
    height: 50px;
    font-size: 22px;
    border-radius: 50%
}

a.fancybox:hover .zoom-icon {
    visibility: visible
}

.tags-line a {
    color: #999
}

.tags-line i {
    margin-right: 5px
}

.latest-carousel .item {
    margin: 3px
}

.latest-carousel .item img {
    display: block;
    width: 100%;
    height: auto
}

.owl-controls {
    text-align: center
}

.owl-controls .owl-page {
    display: inline-block
}

.owl-controls .owl-page span {
    background-color: #bbb;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    display: block;
    height: 12px;
    margin: 5px 3px;
    width: 12px
}

.owl-page.active span, .owl-page:hover span {
    background-color: #72c02c
}

.dark-parallax {
    color: #fff
}

.dark-parallax .img-circle {
    height: 135px;
    width: 135px;
    margin: 0 auto
}

.dark-parallax {
    padding-bottom: 60px
}

.say-container {
    background-color: rgba(255, 255, 255, .25);
    padding: 40px 0;
    margin: 5px
}

.lightest {
    background-color: #fff !important
}

.lighter {
    background-color: #eee !important
}

.span-round {
    display: block;
    color: #999;
    background-color: #eee;
    width: 50px;
    height: 50px;
    font-size: 22px;
    text-align: center;
    padding-top: 14px;
    line-height: 50px;
    border-radius: 50%
}

.media:hover .span-round {
    color: #fff;
    background-color: #72c02c
}

.footer {
    background-color: #2a2b2b;
    padding: 40px 0;
    color: #fff
}

.map-bg {
    background: url(/static/hw3/img/map-img.png)
}

.copyright {
    padding: 20px 0;
    background-color: #222;
    color: #fff
}

.social {
    padding: 0 7px;
    color: #777;
    font-size: 16px;
    position: relative
}

.social:hover {
    color: #777
}

.content > .container > .row {
    padding: 10px 0 50px
}

.recent-works {
    padding-top: 40px
}

.light-parallax {
    padding: 20px
}

.green-tick {
    list-style: none
}

.green-tick > li:before {
    content: "\f00c";
    font-weight: 400;
    display: inline-block;
    float: left;
    color: #72c02c;
    font-family: FontAwesome;
    padding-right: 10px
}

.green-line-left:before {
    z-index: 1;
    width: 30px;
    height: 2px;
    content: " ";
    top: 40px;
    left: 5px;
    position: absolute;
    background: #72c02c
}

.green-line-center:before {
    z-index: 1;
    width: 30px;
    height: 2px;
    content: " ";
    top: 40px;
    left: 49%;
    position: absolute;
    background: #72c02c
}

.green-line-left, .green-line-center {
    padding-bottom: 20px
}

.col-header {
    position: relative
}

.latest-posts {
    padding-right: 20px
}

.footer ul {
    list-style: none;
    padding-left: 0
}

.latest-posts ul small {
    display: block;
    color: #999;
    font-size: 85%
}

.footer li {
    display: block;
    padding: 10px 0
}

.footer li:not(:first-child) {
    border-top: solid 1px #555
}

.footer li a, .footer li a:hover {
    color: #eee
}

.headline {
    display: block;
    border-bottom: dotted 1px #fff;
    z-index: 1;
    margin-bottom: 10px
}

.headline h4 {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: solid 2px #72c02c;
    margin: -1px;
    z-index: 2
}

.useful-links {
    font-size: 11px
}

.useful-links i {
    display: inline-block;
    float: right
}

.footer address {
    padding-top: 5px
}

.footer address a {
    color: #72c02c
}

.top-nav {
    display: inline-block;
    z-index: 999;
    width: 100%;
    height: 94px;
}

.top-nav-container {
    height: 100%;
}

.top-nav-hamburger,
.top-nav-hamburger:focus {
    display: none;
    float: right;
    height: 100%;
    color: #2a2b2b;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 30px;
    position: relative;
    top: 28px;
    right: 0;
}

.top-nav-logo {
    display: inline-block;
    height: inherit;
    line-height: 94px;
}

.top-nav-logo img {
    padding: 25px 0;
}

.top-nav-icons {
    display: inline-block;
    float: right;
    line-height: 90px;
    height: 100%;
}

.top-nav-icons button,
.top-nav-icons button:focus {
    display: inline-block;
    font-size: 16px;
    padding: 0 5px;
    color: #eee;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
}

.top-nav-icons .icons-button .badge {
    display: inline-block;
    background-color: #5fb611;
    position: relative;
    top: -10px;
    left: -10px;
}

.search-line {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 94px;
    width: 100%;
    background-color: #fff;
}

.search-input {
    height: 99%;
    width: 100%;
    border: none;
    padding: 0 15%;
    font-size: 33px;
    font-weight: 100;
    color: #555;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-stretch: condensed;
}

.icons-search.active {
    display: inline-block;
    position: relative;

    z-index: 9999;
}

.icons-search.active i {
    color: #000;
}

.shopping-cart-menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    width: 250px;
    line-height: 2;
    border: solid 1px #9d9d9d;
    border-top: solid 3px #5fb611;
    padding: 15px 15px;
    margin-top: -2px;
    z-index: 9999;
}

.shopping-cart-menu .cart-list {
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid #e7e7e7;
    font-size: 12px;
    text-transform: uppercase;
}

.icons-cart:hover + .shopping-cart-menu,
.shopping-cart-menu:hover {
    display: inline-block;
}

.shopping-cart-menu .btn-green {
    float: left;
}

.shopping-cart-menu .btn-green i {
    padding-right: 10px;
}

.shopping-cart-menu .cart-total {
    display: inline-block;
    padding-top: 8px;
    float: right;
}

.dropdown.marked > li > a:before {
    content: '-';
    padding-right: 10px;
}

.dark-parallax small {
    color: #4fc000;
}

@media (min-width: 992px) {
    .top-nav {

        position: fixed;
        background-color: rgba(0, 0, 0, .5);
    }

    .squeezed, .squeezed .top-nav-container {
        background-color: #2a2b2b;
        height: 70px;

        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease
    }

    .squeezed .top-nav-logo img {
        padding: 10px 0;

        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease
    }

    .squeezed .top-nav-icons,
    .squeezed .top-nav-menu > li {
        line-height: 70px;

        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease
    }

    .top-nav .logo-dark {
        display: none;
    }

    .top-nav .logo-light {
        display: inline-block;
        float: left;
    }

    .top-navbar {
        display: inline-block;
        float: right;
        height: 100%;
        padding-right: 20px;
    }

    .top-nav-menu {
        display: inline-block;
        height: 100%;
        margin-bottom: 0;
        padding: 0;
    }

    .top-nav-menu > li {
        display: inline-block;
        height: 100%;
        line-height: 94px;
        padding: 0 20px;
    }

    .top-nav-menu > li:hover {
        cursor: pointer;
    }

    .top-nav-menu > li > a, .top-nav-menu > li > a:hover {
        color: #fff;
        text-decoration: none;
        font-size: 13px;
        text-transform: uppercase;
    }

    .top-nav-menu .dropdown {
        display: none;
        border-top: solid 3px #5fb611;
        position: absolute;
        width: auto;
        background-color: #fff;
        list-style: none;
        padding: 10px 0 10px 10px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        min-width: 250px;
    }

    .top-nav-menu > li:hover > a {
        color: #5fb611;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease
    }

    .top-nav-menu > li:hover > .dropdown {
        display: inline-block;
    }

    .dropdown > li {
        display: block;
        line-height: 1;
        padding: 10px 25px 10px 10px
    }

    .dropdown > li > a, .dropdown > li > a:hover {
        display: block;
        font-size: 13px;
        color: #000;
        text-decoration: none;
        font-size: 13px;
    }

    .dropdown > li:hover > a {
        color: #5fb611;
    }

    .submenu > a:after {
        font-size: 11px;
        content: "\f105";
        position: absolute;
        right: 5px;
        font-weight: normal;
        display: inline-block;
        font-family: FontAwesome;
    }

    .submenu {
        position: relative;
    }

    .submenu > .dropdown {
        position: absolute;
        left: 100%;
        top: 0;
    }

    .submenu:hover > .dropdown {
        display: inline-block;
    }

}

@media (max-width: 991px) {
    .top-nav {
        position: relative;
        background-color: #fff;
        height: auto;
    }

    .top-nav-hamburger {
        display: inline-block;
        padding-left: 20px;
    }

    .top-nav .logo-light {
        display: none;
    }

    .top-nav .logo-dark {
        display: inline-block;
        float: left;
    }

    .icons-button i {
        color: #000;
    }

    .shopping-cart-menu {
        position: absolute;
        top: 92px;
    }

    .top-navbar {
        display: none;
    }

    .top-nav-menu {
        padding: 0;
    }

    .top-nav-menu li {
        display: inline-block;
        width: 100%;
        padding: 0;
    }

    .top-nav-menu li > a, .top-nav-menu li > a:hover {
        display: inline-block;
        width: 100%;
        padding: 10px 0;
        font-weight: 400;
        font-size: 110%;
        color: #4c4c4c;
        text-decoration: none;
        text-transform: capitalize;
    }

    .top-nav-menu > li > a, .top-nav-menu > li > a:hover {
        text-transform: uppercase;
    }

    .top-nav-menu li:not(.submenu) > a:hover {
        color: #5fb611;
    }

    .top-nav-menu > li:not(:first-child) {
        border-top: solid 1px #9d9d9d;
    }

    .dropdown > li {
        border-top: solid 1px #eeeeee;
    }

    .dropdown {
        display: none;
        padding-left: 10px;
    }

    .top-nav-menu > li.active .dropdown {
        display: block;
    }

    .top-nav-menu .submenu > a, .top-nav-menu .submenu > a:hover {
        text-transform: uppercase;
        color: #4c4c4c;
    }

    .top-nav-menu > li.active > a {
        color: #5fb611;
    }
}