{% extends "base.html" %}
{% load static from staticfiles %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/bs.css" %}">
{% endblock %}
{% block title %} Bootstrap CSS {% endblock title %}
{% block body %}
    <div class="container">
        <h1>Grid system</h1>
        <div class="container">
            <h2>Stacked-to-horizontal</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                </div>
                <div class="row">
                    <div class="col-md-8">.col-md-8</div>
                    <div class="col-md-4">.col-md-4</div>
                </div>
                <div class="row">
                    <div class="col-md-4">.col-md-4</div>
                    <div class="col-md-4">.col-md-4</div>
                    <div class="col-md-4">.col-md-4</div>
                </div>
                <div class="row">
                    <div class="col-md-6">.col-md-6</div>
                    <div class="col-md-6">.col-md-6</div>
                </div>
            </div>
            <hr>
            <h2>Mobile and desktop</h2>
            <div class="container">
                <!-- Stack the columns on mobile by making one full-width and the other half-width -->
                <div class="row">
                    <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
                    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                </div>

                <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
                <div class="row">
                    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                </div>

                <!-- Columns are always 50% wide, on mobile and desktop -->
                <div class="row">
                    <div class="col-xs-6">.col-xs-6</div>
                    <div class="col-xs-6">.col-xs-6</div>
                </div>
            </div>
            <hr>
            <h2>Mobile, tablet, desktop</h2>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>
                    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                    <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                    <!-- Optional: clear the XS cols if their content doesn't match in height -->
                    <div class="clearfix visible-xs"></div>
                    <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                </div>
            </div>
            <hr>
        </div>
        <hr>

        <h1>Typography</h1>
        <div class="container">
            <h2>Headings</h2>
            <div class="container">
                <h1>h1. Bootstrap heading
                    <small>Secondary text</small>
                </h1>
                <h2>h2. Bootstrap heading
                    <small>Secondary text</small>
                </h2>
                <h3>h3. Bootstrap heading
                    <small>Secondary text</small>
                </h3>
                <h4>h4. Bootstrap heading
                    <small>Secondary text</small>
                </h4>
                <h5>h5. Bootstrap heading
                    <small>Secondary text</small>
                </h5>
                <h6>h6. Bootstrap heading
                    <small>Secondary text</small>
                </h6>
            </div>
            <hr>
            <h2>Inline text elements</h2>
            <div class="container">
                <mark>Marked {% lorem 2 w random %}</mark>
                <del>Deleted {% lorem 2 w random %}</del>
                <s>Strikethrough {% lorem 2 w random %}</s>
                <ins>Inserted {% lorem 2 w random %}</ins>
                <u>Underlined {% lorem 2 w random %}</u>
                <small>Small {% lorem 2 w random %}</small>
                <strong>Bold {% lorem 2 w random %}</strong>
                <em>Italics {% lorem 2 w random %}</em>
            </div>
            <hr>
            <h2>Alignment classes</h2>
            <div class="container">
                <p class="text-left"><b>Left</b> aligned {% lorem 2 w random %}.</p>
                <p class="text-center"><b>Center</b> aligned {% lorem 2 w random %}.</p>
                <p class="text-right"><b>Right</b> aligned {% lorem 2 w random %}.</p>
                <p class="text-justify"><b>Justified</b> {% lorem 30 w random %}.</p>
                <p class="text-nowrap"><b>No wrap</b> {% lorem 30 w random %}.</p>
            </div>
            <hr>
            <h2>Transformation classes</h2>
            <div class="container">
                <p class="text-lowercase"><b>Lowercase </b>{% lorem 15 w random %}.</p>
                <p class="text-uppercase"><b>uppercase </b>{% lorem 15 w random %}.</p>
                <p class="text-capitalize"><b>capitalized </b>{% lorem 15 w random %}.</p>
            </div>
            <br>
            <h2>Abbreviations</h2>
            <div class="container">
                An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.<br>
                <abbr title="HyperText Markup Language" class="initialism">HTML</abbr> is the best thing since sliced
                bread.
            </div>
            <hr>
            <h2>Addresses</h2>
            <div class="container">
                <address>
                    <strong>Twitter, Inc.</strong><br>
                    1355 Market Street, Suite 900<br>
                    San Francisco, CA 94103<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>

                <address>
                    <strong>Full Name</strong><br>
                    <a href="mailto:#">first.last@example.com</a>
                </address>
            </div>
            <hr>
            <h2>Blockquotes</h2>
            <div class="container">
                <blockquote>
                    <b>Default blockquote</b> {% lorem 15 w random %}
                </blockquote>
                <blockquote>
                    <b>Blockquote with footer</b> {% lorem 25 w random %}
                    <footer>Footer from <cite title="source title example">Blockquote</cite></footer>
                </blockquote>
                <blockquote class="blockquote-reverse">
                    <b>Right-aligned</b> {% lorem 15 w random %}
                    <footer>Footer from <cite title="source title example">Blockquote-reverse</cite></footer>
                </blockquote>
            </div>
            <h2>Lists</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Unordered</h2>
                        <ul>
                            <li>{% lorem 5 w random %}</li>
                            <li>{% lorem 5 w random %}</li>
                            <li>{% lorem 5 w random %}</li>
                            <ul>
                                <li>{% lorem 2 w random %}</li>
                                <li>{% lorem 2 w random %}</li>
                                <li>{% lorem 2 w random %}</li>
                            </ul>
                            <li>{% lorem 5 w random %}</li>
                            <li>{% lorem 5 w random %}</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h2>Ordered</h2>
                        <ol>
                            <li>{% lorem 5 w random %}</li>
                            <li>{% lorem 5 w random %}</li>
                            <li>{% lorem 5 w random %}</li>
                            <li>{% lorem 5 w random %}</li>
                            <li>{% lorem 5 w random %}</li>
                            <li>{% lorem 5 w random %}</li>
                            <li>{% lorem 5 w random %}</li>
                            <li>{% lorem 5 w random %}</li>
                        </ol>
                    </div>
                    <div class="col-md-4">
                        <h2>Unstyled</h2>
                        <ul class="list-unstyled">
                            <li>{% lorem 5 w random %}</li>
                            <li>{% lorem 5 w random %}</li>
                            <li>{% lorem 5 w random %}</li>
                            <ul>
                                <li>{% lorem 2 w random %}</li>
                                <li>{% lorem 2 w random %}</li>
                                <li>{% lorem 2 w random %}</li>
                            </ul>
                            <li>{% lorem 5 w random %}</li>
                            <li>{% lorem 5 w random %}</li>
                        </ul>
                    </div>
                </div>
                <h2>Inline</h2>
                <ul class="list-inline">
                    <li>{% lorem 2 w random %}</li>
                    <li>{% lorem 2 w random %}</li>
                    <li>{% lorem 2 w random %}</li>
                    <li>{% lorem 2 w random %}</li>
                    <li>{% lorem 2 w random %}</li>
                </ul>
                <h2>Description</h2>
                <dl>
                    <dt>{% lorem 2 w random %}</dt>
                    <dd>{% lorem 5 w random %}</dd>
                    <dt>{% lorem 2 w random %}</dt>
                    <dd>{% lorem 5 w random %}</dd>
                    <dt>{% lorem 2 w random %}</dt>
                    <dd>{% lorem 5 w random %}</dd>
                </dl>
                <h2>Horizontal description</h2>
                <dl class="dl-horizontal">
                    <dt>{% lorem 2 w random %}</dt>
                    <dd>{% lorem 5 w random %}</dd>
                    <dt>{% lorem 2 w random %}</dt>
                    <dd>{% lorem 5 w random %}</dd>
                    <dt>{% lorem 2 w random %}</dt>
                    <dd>{% lorem 5 w random %}</dd>
                </dl>

            </div>
            <hr>
        </div>
        <hr>

        <h1>Code</h1>
        <div class="container">
            <dl class="dl-horizontal">
                <dt>Inline</dt>
                <dd>For example, <code>&lt;section&gt;</code> should be wrapped as inline.</dd>
                <dt>User input</dt>
                <dd>To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd></dd>
                <dt>Basic block</dt>
                <dd>
                    <pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
                </dd>
                <dt>Variables</dt>
                <dd><var>y</var> = <var>m</var><var>x</var> + <var>b</var></dd>
                <dt>Sample output</dt>
                <dd><samp>This text is meant to be treated as sample output from a computer program.</samp></dd>
            </dl>
        </div>
        <hr>

        <h1>Tables</h1>
        <div class="container">
            <h2>Basic example</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>{% lorem 1 w random %}</th>
                    <th>{% lorem 1 w random %}</th>
                    <th>{% lorem 1 w random %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                </tr>
                <tr>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                </tr>
                <tr>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                </tr>
                </tbody>
            </table>
            <h2>Bordered</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>{% lorem 1 w random %}</th>
                    <th>{% lorem 1 w random %}</th>
                    <th>{% lorem 1 w random %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                </tr>
                <tr>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                </tr>
                <tr>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                </tr>
                </tbody>
            </table>
            <h2>Hover rows</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{% lorem 1 w random %}</th>
                    <th>{% lorem 1 w random %}</th>
                    <th>{% lorem 1 w random %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                </tr>
                <tr>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                </tr>
                <tr>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                </tr>
                </tbody>
            </table>
            <h2>Condensed table</h2>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>{% lorem 1 w random %}</th>
                    <th>{% lorem 1 w random %}</th>
                    <th>{% lorem 1 w random %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                </tr>
                <tr>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                </tr>
                <tr>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                </tr>
                </tbody>
            </table>
            <h2>Contextual classes</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>{% lorem 1 w random %}</th>
                    <th>{% lorem 1 w random %}</th>
                    <th>{% lorem 1 w random %}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="active">
                    <td>active</td>
                    <td class="success">{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                </tr>
                <tr class="success">
                    <td>success</td>
                    <td class="info">{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                </tr>
                <tr class="info">
                    <td>info</td>
                    <td class="warning">{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                </tr>
                <tr class="warning">
                    <td>warning</td>
                    <td class="danger">{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                </tr>
                <tr class="danger">
                    <td>danger</td>
                    <td class="success">{% lorem 1 w random %}</td>
                    <td>{% lorem 1 w random %}</td>
                </tr>
                </tbody>
            </table>
            <h2>Responsive tables</h2>
            make them scroll horizontally on small devices (under 768px)
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>{% lorem 1 w random %}</th>
                        <th>{% lorem 1 w random %}</th>
                        <th>{% lorem 1 w random %}</th>
                        <th>{% lorem 1 w random %}</th>
                        <th>{% lorem 1 w random %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{% lorem 1 w random %}</td>
                        <td>{% lorem 1 w random %}</td>
                        <td>{% lorem 1 w random %}</td>
                        <td>{% lorem 1 w random %}</td>
                        <td>{% lorem 1 w random %}</td>
                    </tr>
                    <tr>
                        <td>{% lorem 1 w random %}</td>
                        <td>{% lorem 1 w random %}</td>
                        <td>{% lorem 1 w random %}</td>
                        <td>{% lorem 1 w random %}</td>
                        <td>{% lorem 1 w random %}</td>
                    </tr>
                    <tr>
                        <td>{% lorem 1 w random %}</td>
                        <td>{% lorem 1 w random %}</td>
                        <td>{% lorem 1 w random %}</td>
                        <td>{% lorem 1 w random %}</td>
                        <td>{% lorem 1 w random %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <hr>

        <h1>Forms</h1>
        <div class="container">
            <h2>Basic example</h2>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Example block-level help text here.</p>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Check me out
                    </label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <h2>Inline form</h2>
            <form class="form-inline">
                <div class="form-group">
                    <label for="exampleInputName2">Name</label>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                </div>
                <button type="submit" class="btn btn-default">Send invitation</button>
            </form>
            <br>
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                        <div class="input-group-addon">.00</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Transfer cash</button>
            </form>
            <h2>Horizontal form</h2>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </div>
                </div>
            </form>
            <h2>Supported controls</h2>
            <h3>Inputs</h3>
            <input type="text" class="form-control" placeholder="Text input">
            <h3>Textarea</h3>
            <textarea class="form-control" rows="3"></textarea>
            <h3>Checkboxes and radios</h3>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Option one is this and that&mdash;be sure to include why it's great
                </label>
            </div>
            <div class="checkbox disabled">
                <label>
                    <input type="checkbox" value="" disabled>
                    Option two is disabled
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Option one is this and that&mdash;be sure to include why it's great
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    Option two can be something else and selecting it will deselect option one
                </label>
            </div>
            <div class="radio disabled">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                    Option three is disabled
                </label>
            </div>
            <br>Inline checkboxes and radios<br>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
            </label>
            <br>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
            </label>
            <br>
            <br>Checkboxes and radios without label text
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                </label>
            </div>
            <h3>Selects</h3>
            <select class="form-control">
                <option value="">{% lorem 1 w random %}</option>
                <option value="">{% lorem 1 w random %}</option>
                <option value="">{% lorem 1 w random %}</option>
                <option value="">{% lorem 1 w random %}</option>
                <option value="">{% lorem 1 w random %}</option>
            </select><br>
            <select multiple class="form-control">
                <option value="">{% lorem 1 w random %}</option>
                <option value="">{% lorem 1 w random %}</option>
                <option value="">{% lorem 1 w random %}</option>
                <option value="">{% lorem 1 w random %}</option>
                <option value="">{% lorem 1 w random %}</option>
            </select>
            <h3>Static control</h3>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">email@example.com</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
            </form>
            <br>
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only">Email</label>
                    <p class="form-control-static">email@example.com</p>
                </div>
                <div class="form-group">
                    <label for="inputPassword2" class="sr-only">Password</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default">Confirm identity</button>
            </form>
            <h3>Focus state</h3>
            <input type="text" class="form-control" id="focused-control"
                   placeholder="We remove the default outline styles on some form controls and apply a box-shadow in its place for :focus">
            <h3>Disabled state</h3>
            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
            <h3>Disabled fieldsets</h3>
            Add the disabled attribute to a
            <fieldset> to disable all the controls within the
                <fieldset> at once.
                    <form>
                        <fieldset disabled>
                            <div class="form-group">
                                <label for="disabledTextInput">Disabled input</label>
                                <input type="text" id="disabledTextInput" class="form-control"
                                       placeholder="Disabled input">
                            </div>
                            <div class="form-group">
                                <label for="disabledSelect">Disabled select menu</label>
                                <select id="disabledSelect" class="form-control">
                                    <option>Disabled select</option>
                                </select>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Can't check this
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </fieldset>
                    </form>
                    <h3>Readonly state</h3>
                    <input class="form-control" type="text" placeholder="Readonly input here…" readonly>
                    <h3>Help text</h3>
                    <label class="sr-only" for="inputHelpBlock">Input with help text</label>
                    <input type="text" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock">
                    <span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                    <h3>Validation states</h3>
                    <div class="form-group has-success">
                        <label class="control-label" for="inputSuccess1">Input with success</label>
                        <input type="text" class="form-control" id="inputSuccess1" aria-describedby="helpBlock2">
                        <span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                    </div>
                    <div class="form-group has-warning">
                        <label class="control-label" for="inputWarning1">Input with warning</label>
                        <input type="text" class="form-control" id="inputWarning1">
                    </div>
                    <div class="form-group has-error">
                        <label class="control-label" for="inputError1">Input with error</label>
                        <input type="text" class="form-control" id="inputError1">
                    </div>
                    <div class="has-success">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="checkboxSuccess" value="option1">
                                Checkbox with success
                            </label>
                        </div>
                    </div>
                    <div class="has-warning">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="checkboxWarning" value="option1">
                                Checkbox with warning
                            </label>
                        </div>
                    </div>
                    <div class="has-error">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="checkboxError" value="option1">
                                Checkbox with error
                            </label>
                        </div>
                    </div>
                    <h3>With optional icons</h3>
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="inputSuccess2">Input with success</label>
                        <input type="text" class="form-control" id="inputSuccess2"
                               aria-describedby="inputSuccess2Status">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="inputSuccess2Status" class="sr-only">(success)</span>
                    </div>
                    <div class="form-group has-warning has-feedback">
                        <label class="control-label" for="inputWarning2">Input with warning</label>
                        <input type="text" class="form-control" id="inputWarning2"
                               aria-describedby="inputWarning2Status">
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                        <span id="inputWarning2Status" class="sr-only">(warning)</span>
                    </div>
                    <div class="form-group has-error has-feedback">
                        <label class="control-label" for="inputError2">Input with error</label>
                        <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status">
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <span id="inputError2Status" class="sr-only">(error)</span>
                    </div>
                    <div class="form-group has-success has-feedback">
                        <label class="control-label" for="inputGroupSuccess1">Input group with success</label>
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="text" class="form-control" id="inputGroupSuccess1"
                                   aria-describedby="inputGroupSuccess1Status">
                        </div>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
                    </div>
                    <br>
                    <form class="form-horizontal">
                        <div class="form-group has-success has-feedback">
                            <label class="control-label col-sm-3" for="inputSuccess3">Input with success</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputSuccess3"
                                       aria-describedby="inputSuccess3Status">
                                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span id="inputSuccess3Status" class="sr-only">(success)</span>
                            </div>
                        </div>
                        <div class="form-group has-success has-feedback">
                            <label class="control-label col-sm-3" for="inputGroupSuccess2">Input group with
                                success</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon">@</span>
                                    <input type="text" class="form-control" id="inputGroupSuccess2"
                                           aria-describedby="inputGroupSuccess2Status">
                                </div>
                                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span id="inputGroupSuccess2Status" class="sr-only">(success)</span>
                            </div>
                        </div>
                    </form>
                    <br>
                    <form class="form-inline">
                        <div class="form-group has-success has-feedback">
                            <label class="control-label" for="inputSuccess4">Input with success</label>
                            <input type="text" class="form-control" id="inputSuccess4"
                                   aria-describedby="inputSuccess4Status">
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span id="inputSuccess4Status" class="sr-only">(success)</span>
                        </div>
                    </form>
                    <form class="form-inline">
                        <div class="form-group has-success has-feedback">
                            <label class="control-label" for="inputGroupSuccess3">Input group with success</label>
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" id="inputGroupSuccess3"
                                       aria-describedby="inputGroupSuccess3Status">
                            </div>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span id="inputGroupSuccess3Status" class="sr-only">(success)</span>
                        </div>
                    </form>
                    <br>
                    <div class="form-group has-success has-feedback">
                        <label class="control-label sr-only" for="inputSuccess5">Hidden label</label>
                        <input type="text" class="form-control" id="inputSuccess5"
                               aria-describedby="inputSuccess5Status">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="inputSuccess5Status" class="sr-only">(success)</span>
                    </div>
                    <div class="form-group has-success has-feedback">
                        <label class="control-label sr-only" for="inputGroupSuccess4">Input group with success</label>
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="text" class="form-control" id="inputGroupSuccess4"
                                   aria-describedby="inputGroupSuccess4Status">
                        </div>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="inputGroupSuccess4Status" class="sr-only">(success)</span>
                    </div>
                    <h2>Control sizing</h2>
                    <h3>Height sizing</h3>
                    <input class="form-control input-lg" type="text" placeholder=".input-lg">
                    <input class="form-control" type="text" placeholder="Default input">
                    <input class="form-control input-sm" type="text" placeholder=".input-sm">
                    <h3>Horizontal form group sizes</h3>
                    <form class="form-horizontal">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-2 control-label" for="formGroupInputLarge">Large label</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="formGroupInputLarge"
                                       placeholder="Large input">
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label class="col-sm-2 control-label" for="formGroupInputSmall">Small label</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="formGroupInputSmall"
                                       placeholder="Small input">
                            </div>
                        </div>
                    </form>
                    <h3>Column sizing</h3>
                    <div class="row">
                        <div class="col-xs-2">
                            <input type="text" class="form-control" placeholder=".col-xs-2">
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" placeholder=".col-xs-3">
                        </div>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" placeholder=".col-xs-4">
                        </div>
                    </div>
        </div>
        <hr>

        <h1>Buttons</h1>
        <div class="container">
            <h2>Button tags</h2>
            <div class="container">
                <a class="btn btn-default" href="#" role="button">Link</a>
                <button class="btn btn-default" type="submit">Button</button>
                <input class="btn btn-default" type="button" value="Input">
                <input class="btn btn-default" type="submit" value="Submit">
            </div>
            <hr>
            <h2>Options</h2>
            <div class="container">
                <!-- Standard button -->
                <button type="button" class="btn btn-default">Default</button>

                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button type="button" class="btn btn-primary">Primary</button>

                <!-- Indicates a successful or positive action -->
                <button type="button" class="btn btn-success">Success</button>

                <!-- Contextual button for informational alert messages -->
                <button type="button" class="btn btn-info">Info</button>

                <!-- Indicates caution should be taken with this action -->
                <button type="button" class="btn btn-warning">Warning</button>

                <!-- Indicates a dangerous or potentially negative action -->
                <button type="button" class="btn btn-danger">Danger</button>

                <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
                <button type="button" class="btn btn-link">Link</button>
            </div>
            <hr>
            <h2>Sizes</h2>
            <div class="container">
                <p>
                    <button type="button" class="btn btn-primary btn-lg">Large button</button>
                    <button type="button" class="btn btn-default btn-lg">Large button</button>
                </p>
                <p>
                    <button type="button" class="btn btn-primary">Default button</button>
                    <button type="button" class="btn btn-default">Default button</button>
                </p>
                <p>
                    <button type="button" class="btn btn-primary btn-sm">Small button</button>
                    <button type="button" class="btn btn-default btn-sm">Small button</button>
                </p>
                <p>
                    <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
                    <button type="button" class="btn btn-default btn-xs">Extra small button</button>
                </p>
                Create block level buttons—those that span the full width of a parent— by adding .btn-block.
                <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                <button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
            </div>
            <hr>
            <h2>Active state</h2>
            <div class="container">
                <h3>Button element</h3>
                <button type="button" class="btn btn-primary btn-lg active">Primary button</button>
                <button type="button" class="btn btn-default btn-lg active">Button</button>
                <h3>Anchor element</h3>
                <a href="#" class="btn btn-primary btn-lg active" role="button">Primary link</a>
                <a href="#" class="btn btn-default btn-lg active" role="button">Link</a>
            </div>
            <hr>
            <h2>Disabled state</h2>
            <div class="container">
                <h3>Button element</h3>
                <button type="button" class="btn btn-lg btn-primary" disabled="disabled">Primary button</button>
                <button type="button" class="btn btn-default btn-lg" disabled="disabled">Button</button>
                <h3>Anchor element</h3>
                <a href="#" class="btn btn-primary btn-lg disabled" role="button">Primary link</a>
                <a href="#" class="btn btn-default btn-lg disabled" role="button">Link</a>
            </div>
            <hr>


        </div>
        <hr>

        <h1>Images</h1>
        <div class="container">
            <h2>Responsive images</h2>
            <div class="container">
                <img src="http://altwall.net/img/inflames/24_1440.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <hr>
            <h2>Image shapes</h2>
            <div class="container">
                <img src="https://s-media-cache-ak0.pinimg.com/236x/14/d9/13/14d91389a741aba011701196e9204632.jpg"
                     alt="..." class="img-rounded">
                <img src="https://s-media-cache-ak0.pinimg.com/236x/14/d9/13/14d91389a741aba011701196e9204632.jpg"
                     alt="..." class="img-circle">
                <img src="https://s-media-cache-ak0.pinimg.com/236x/14/d9/13/14d91389a741aba011701196e9204632.jpg"
                     alt="..." class="img-thumbnail">
            </div>
            <hr>
        </div>
        <hr>

        <h1>Helper classes</h1>
        <div class="container">
            <h2>Contextual colors</h2>
            <div class="container">
                <p class="text-muted"><b>Muted</b> {% lorem 10 w random %}.</p>
                <p class="text-primary"><b>Primary</b> {% lorem 10 w random %}.</p>
                <p class="text-success"><b>Success</b> {% lorem 10 w random %}.</p>
                <p class="text-info"><b>Info</b> {% lorem 10 w random %}.</p>
                <p class="text-warning"><b>Warning</b> {% lorem 10 w random %}.</p>
                <p class="text-danger"><b>Danger</b> {% lorem 10 w random %}.</p>
            </div>
            <hr>
            <h2>Contextual backgrounds</h2>
            <div class="container">
                <p class="bg-primary"><b>Primary</b> {% lorem 10 w random %}.</p>
                <p class="bg-success"><b>Success</b> {% lorem 10 w random %}.</p>
                <p class="bg-info"><b>Info</b> {% lorem 10 w random %}.</p>
                <p class="bg-warning"><b>Warning</b> {% lorem 10 w random %}.</p>
                <p class="bg-danger"><b>Danger</b> {% lorem 10 w random %}.</p>
            </div>
            <hr>
            <h2>Close icon</h2>
            <div class="container">
                ----->
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <hr>
            <h2>Carets</h2>
            <div class="container">
                <span class="caret"></span>
            </div>
            <hr>
            <h2>Quick floats</h2>
            <div class="container">
                !important is included to avoid specificity issues. Not for use in navbars <br>
                <div class="pull-left">Pull left</div>
                <div class="pull-right">Pull right</div>
            </div>
            <hr>
            <h2>Center content blocks</h2>
            <div class="container">
                <div class="center-block"> Set an element to display: block and center via margin</div>
            </div>
            <hr>
            <h2>Clearfix</h2>
            <div class="container">
                <div class="clearfix">Easily clear floats by adding .clearfix to the parent element.</div>
            </div>
            <hr>

            <h2>Showing and hiding content</h2>
            Force an element to be shown or hidden (including for screen readers) with the use of .show and .hidden
            classes.
            <div class="container">
                <div class="show">This text is shown. Next is hidden</div>
                <div class="hidden">This text is hidden</div>
            </div>
            <hr>

            <h2>Screen reader and keyboard navigation content</h2>
            <div class="container">
                Hide an element to all devices except screen readers with .sr-only. Combine .sr-only with
                .sr-only-focusable to show the element again when it's focused (e.g. by a keyboard-only user). Necessary
                for following accessibility best practices.
                Next line is hidden with .sr-only
                <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
            </div>
            <hr>

            <h2>Image replacement</h2>
            <div class="container">
                Utilize the .text-hide class or mixin to help replace an element's text content with a background image.
                <h1 class="text-hide">Custom heading</h1>
            </div>
            <hr>
        </div>
        <hr>

        <h1>Responsive utilities</h1>
        <div class="container">
            <h2>Available classes</h2>
            <div class="container">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped responsive-utilities">
                        <thead>
                        <tr>
                            <th></th>
                            <th> Extra small devices
                                <small>Phones (&lt;768px)</small>
                            </th>
                            <th> Small devices
                                <small>Tablets (≥768px)</small>
                            </th>
                            <th> Medium devices
                                <small>Desktops (≥992px)</small>
                            </th>
                            <th> Large devices
                                <small>Desktops (≥1200px)</small>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <code>.visible-xs-*</code>
                            </th>
                            <td class="success">Visible</td>
                            <td class="danger">Hidden</td>
                            <td class="danger">Hidden</td>
                            <td class="danger">Hidden</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <code>.visible-sm-*</code>
                            </th>
                            <td class="danger">Hidden</td>
                            <td class="success">Visible</td>
                            <td class="danger">Hidden</td>
                            <td class="danger">Hidden</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <code>.visible-md-*</code>
                            </th>
                            <td class="danger">Hidden</td>
                            <td class="danger">Hidden</td>
                            <td class="success">Visible</td>
                            <td class="danger">Hidden</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <code>.visible-lg-*</code>
                            </th>
                            <td class="danger">Hidden</td>
                            <td class="danger">Hidden</td>
                            <td class="danger">Hidden</td>
                            <td class="success">Visible</td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <code>.hidden-xs</code>
                            </th>
                            <td class="danger">Hidden</td>
                            <td class="success">Visible</td>
                            <td class="success">Visible</td>
                            <td class="success">Visible</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <code>.hidden-sm</code>
                            </th>
                            <td class="success">Visible</td>
                            <td class="danger">Hidden</td>
                            <td class="success">Visible</td>
                            <td class="success">Visible</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <code>.hidden-md</code>
                            </th>
                            <td class="success">Visible</td>
                            <td class="success">Visible</td>
                            <td class="danger">Hidden</td>
                            <td class="success">Visible</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <code>.hidden-lg</code>
                            </th>
                            <td class="success">Visible</td>
                            <td class="success">Visible</td>
                            <td class="success">Visible</td>
                            <td class="danger">Hidden</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Group of classes</th>
                            <th>CSS <code>display</code></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row"><code>.visible-*-block</code></th>
                            <td><code>display: block;</code></td>
                        </tr>
                        <tr>
                            <th scope="row"><code>.visible-*-inline</code></th>
                            <td><code>display: inline;</code></td>
                        </tr>
                        <tr>
                            <th scope="row"><code>.visible-*-inline-block</code></th>
                            <td><code>display: inline-block;</code></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <hr>
            <h2>Print classes</h2>
            <div class="container">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped responsive-utilities">
                        <thead>
                        <tr>
                            <th>Classes</th>
                            <th>Browser</th>
                            <th>Print</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row"><code>.visible-print-block</code><br> <code>.visible-print-inline</code><br>
                                <code>.visible-print-inline-block</code></th>
                            <td class="is-hidden">Hidden</td>
                            <td class="is-visible">Visible</td>
                        </tr>
                        <tr>
                            <th scope="row"><code>.hidden-print</code></th>
                            <td class="is-visible">Visible</td>
                            <td class="is-hidden">Hidden</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
        </div>
        <hr>

    </div>
{% endblock %}